<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">

<head>
    <meta charset="UTF-8">
    <title>设备列表</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/lib/layui/layui.js"></script>
    <script type="text/javascript" th:inline="none">
        layui.use(['form', 'layer', 'table', 'element'], function () {
            var $ = layui.jquery;
            var form = layui.form;
            form.render();
            form.on('submit(selongedOK)', function (data) {
                params = data.field;
                console.log(params);
                $.ajax({
                    url: "/device/selonged/addSave",
                    type: "post",
                    data: params,
                    dataType: "json",
                    success: function (result) {
                        closeAll(result);
                    }
                });
                return false;
            });
        });

        /**
         * 关闭弹窗
         */
        function closeAll(result) {
            layer.msg(result.result, {icon: 5});
            if (parseInt(result.errcode) == 0) {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                setTimeout(function () {
                    parent.layer.close(index); //再执行关闭
                }, 300);
            }
        }
    </script>
</head>
<body>
<form class="layui-form" action="" style="margin-right: 50px;">
    <div class="layui-form-item">
        <label class="layui-form-label">名称：</label>
        <div class="layui-input-block">
            <input type="text" name="name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="selongedOK">确定</button>
        </div>
    </div>
</form>
</html>