<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>欢迎页面-智慧工地运营后台管理系统-V1.0</title>
		<!--<link rel="stylesheet" href="/static/js/map/ol/3.7/ol.css" type="text/css">-->
		<style>
			.map {
				height: 1000px;
				width: 100%;
			}

		</style>
		<style type="text/css">
			body, html,#map {overflow: hidden;margin:0;font-family:"微软雅黑";}
		</style>
	</head>



	<body>
		<div class="weadmin-body">
			<h2>My Map</h2><br>
			<h3>经度：<span id="longitude" class="main"></span></h3>
			<h3>纬度：<span id="latitude" class="main"></span></h3>
			<div id="map" class="map"></div>
		</div>
	</body>
	<!--<script src="/static/js/map/ol/3.7/ol.js"></script>-->
	<!--引用百度地图API-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=eSKz5wRgjxcze5fYgrOSq0zQaGEnkGm"></script>
	<script type="text/javascript" src="/static/lib/jquery.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
	<script type=text/javascript src='/static/lib/mqtt/mqttws31.js'></script>
	<script type="text/javascript" src="/static/lib/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="/static/js/dark.js"></script>
	<script type=text/javascript src='/static/lib/webSocket.js'></script>

	<script type="text/javascript">
        layui.use(['flow','form',  'layer','upload'],  function(){
            var flow = layui.flow,
                form = layui.form,
                upload = layui.upload,
                layer = parent.layer === undefined ? layui.layer : top.layer,
                $ = layui.jquery;

            mqtt_connect();
        });


        var map = new BMap.Map("map");
        var point = new BMap.Point(106.632843,26.656165);
        map.centerAndZoom(point, 15);
        map.enableScrollWheelZoom(true);

        function handldMessage(data) {
            console.log(data);
            $("#longitude").text(data.longitude);
            $("#latitude").text(data.latitude);
            alarm(data);
        }

        function alarm(data){
            var pt = new BMap.Point(data.longitude,data.latitude);
			var myIcon = new BMap.Icon("/static/images/alert.png", new BMap.Size(300,157));
			var marker = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
			map.addOverlay(marker);
		}

	</script>





</html>